{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
	"parser": "typescript",
  "printWidth": 80,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": true
}
